@model IEnumerable<_300910377_KAUR__300916412_YANG__Lab2.Models.Movie>
@{
    ViewData["Title"] = "Home Page";
}

<div id="movies" class="body-content" style="margin-top:20px;">
    @if (Model == null || Model.Count() == 0)
    {
        <div>No Movies Yet!</div>
    }
    else
    {
        <div class="">
            @foreach (var item in Model)
            {
                <div class="" style="display:inline-block; width:25%; border:1px solid #eee; margin:5px; padding:10px;">
                    <p class="text-capitalize"> <a asp-controller="PlayMovie" asp-action="Index" asp-route-id="@item.MovieId">@Html.DisplayFor(modelItem => item.MovieName)</a></p>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </div>               
            }
        </div>
    }
</div>


